{
    "extends": "eslint:recommended",

    "env": {
        "es6": true
    },
    "ecmaFeatures": {
      "modules": false
    },
    "rules" : {

        "camelcase"            : 0,
        "comma-spacing"        : 0,
        "curly"                : 0,
        "indent"               : 0,
        "key-spacing"          : 0,
        "new-cap"              : 0,
        "no-console"           : 0,
        "no-empty"             : 0,
        "no-mixed-requires"    : 0,
        "no-multi-spaces"      : 0,
        "no-spaced-func"       : 0,
        "no-trailing-spaces"   : 0,
        "no-underscore-dangle" : 0,
        "quotes"               : 0,
        "semi-spacing"         : 0,

        "no-unused-vars"  : 1,
        "space-infix-ops" : 1,

        "space-before-blocks"       : [ 1, "always"           ],
        "space-in-parens"           : [ 1, "always"           ],
        "object-curly-spacing"      : [ 1, "always"           ],
        "array-bracket-spacing"     : [ 1, "always"           ],
        "computed-property-spacing" : [ 1, "always"           ],
        //"comma-dangle"              : [ 1, "always-multiline" ],

        "no-native-reassign"         : 2,
        "no-shadow-restricted-names" : 2,
        "no-undef"                   : 2,
        //"no-var"                     : 2,
        "no-var"                     : 0,
        "prefer-const"    : 2,
        "no-const-assign"    : 2,

        "comma-style"          : [ 2, "last"                   ],
        "no-redeclare"         : [ 2, {"builtinGlobals": true} ],
        "no-shadow"            : [ 2, {"builtinGlobals": true} ],
        "no-use-before-define" : [ 2, "nofunc"                 ],
        "semi"                 : [ 2, "always"                 ],
        "strict"               : [ 2, "global"               ]

    },
    "globals" : {

        "CORSAIR" : false,
        "THREE"   : false,
        "CANNON"  : false,
        "SWIVEL"  : false,

        "JD"           : false,
        "PP"           : false,
        "GAUGE"        : false,
        "window"       : false,
        "document"     : false,
        "localStorage" : false,

        "arguments"     : false,
        "clearInterval" : false,
        "clearTimeout"  : false,
        "console"       : false,
        "process"       : false,
        "require"       : false,
        "setInterval"   : false,
        "setTimeout"    : false
    }


}
